body{
  background: linear-gradient(to bottom,aqua,pink 100%);
}
 h2{
     margin-left: 34%;
     margin-top: 20%;
 }
 @media screen and (max-width : 410px){
   h2{
     margin-left: 30%;
     font-size: 1.2em;
     
   }
 }